[submodule "thirdparty/projection_library"]
	path = thirdparty/projection_library
	url = https://gitlab.lrz.de/providentiaplusplus/projection_library.git
[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "thirdparty/libOpenDRIVE"]
	path = thirdparty/libOpenDRIVE
	url = https://github.com/pageldev/libOpenDRIVE.git
[submodule "thirdparty/cvplot"]
	path = thirdparty/cvplot
	url = https://github.com/Profactor/cv-plot.git
[submodule "thirdparty/autodiff"]
	path = thirdparty/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/sort"]
	path = thirdparty/sort
	url = https://github.com/yasenh/sort-cpp.git
[submodule "thirdparty/ocsort"]
	path = thirdparty/ocsort
	url = https://github.com/noahcao/OC_SORT.git
[submodule "thirdparty/ucmc"]
	path = thirdparty/ucmc
	url = https://github.com/corfyi/UCMCTrack.git
[submodule "thirdparty/ranges-v3"]
	path = thirdparty/ranges-v3
	url = https://github.com/ericniebler/range-v3.git
